acl test_net src {{ my_IPv4 }}/32
acl port_443 port 443
acl CONNECT method CONNECT

http_access allow CONNECT port_443 test_net
http_access deny all
http_port 3128

#cache configs
cache deny all
cache_dir ufs /var/spool/squid 100 16 256
ssl_bump none all
access_log none